ci:
  autoupdate_schedule: monthly

default_language_version:
  python: python3.13

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/crate-ci/typos
  rev: 672d45b4e77223b8fcf1b4b8560bf987f0839902  # frozen: v1
  hooks:
  - id: typos
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: 2a892e1706c9e0e1f853be3f34a9e04f0d5c86d9  # frozen: v2.12.1
  hooks:
  - id: pyproject-fmt
    additional_dependencies: ["tox>=4.9"]
- repo: https://github.com/rstcheck/rstcheck
  rev: 27258fde1ee7d3b1e6a7bbc58f4c7b1dd0e719e5  # frozen: v6.2.5
  hooks:
  - id: rstcheck
    additional_dependencies:
    - sphinx==8.1.3
    - tomli==2.0.1
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 45ef068da5f21267bb2a7ec4a623092959f09ce5  # frozen: v0.14.14
  hooks:
    - id: ruff-check
      args: [ --fix ]
    - id: ruff-format
